<!DOCTYPE html>
<html>
<head>
  <title>EATDABURGER</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/style.css">
  
</head>
<body style="background-color: #057228;">
  {{{ body }}}
</body>
</html>