/* h2{
    color: yellowgreen;
}; */
.banner {
    width: 100%;
    height: 255px !important;
    background-image: url("images/forestgif2.gif")!important;
    /* background-size: cover; */
};
.burger {
    background-color: cadetblue !important;
    /* background-image: url("images/cadet.jpg") !important; */
};
.littlediv {
    background-image: url("images/zelda6.gif");
    width: 60px;
    height: 60px;
};
#enter_text{
    background-color: forestgreen;
}